{% extends "base.html" %}
{% load static %}



{% block content %}
    <div class="container main-page  mb-5" style="background-color: #f4f4f4;">
        <div class="row" >
            <div class="col-12 col-lg-10 mx-auto text-center" >
                <div>
                    <h2 class="main-page-title">Have your own bussines!</h2>
                    <h4 class="uppercase">sell your products safely and start your own business</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto col-12 col-lg-8">
                <a href="{% url 'products' %}" class="btn btn-lg btn-all-products">View all products</a>
            </div>
        </div>
    </div>
{% endblock %}

