html{
    height: 100%;
}
body{
    /* min-height: 100vh; */
    background: url('/media/hero-image.jpg') no-repeat left  fixed;
    background-size: cover;

}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.logo-font {
    text-transform: uppercase;
    color: #fff;
}


.btn-black {
    background: black;
    color: white;
}



.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.btn-add-product{
   background-color: #ABC4AA; 
}

.btn-add-product:hover,
.btn-add-product:active{
    text-decoration: underline;
    color: #675D50;
}

.menu-item a{
    text-decoration: none;
    padding: 10px;
    
}

.menu-item a i {
    width: 60px;
    height: 60px;
    padding: 30px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fff;
    background: #000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.menu-item a i:hover{
    color: #F3DEBA;
}

.nav-item{
    color: #000;
    font-size: 20px;
    
}

.main-page-title{
    font-size: 55px;
    color: #000;
    padding: 50px;
}

.btn-all-products{
    display: block;
    margin: 0 auto; 
    width: 200px;
    background-color: #000;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 30px;
}

.btn-all-products:hover{
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}
/*--------------------------------------------Footer*/

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }